sols/Et_0.bp/data.0
sols/Et_0.bp/md.0
sols/Et_0.bp/md.idx
sols/Et_0.bp/mmd.0
sols/Et_0.bp/profiling.json
sols/Et_1.bp/data.0
sols/Et_1.bp/md.0
sols/Et_1.bp/md.idx
sols/Et_1.bp/mmd.0
sols/Et_1.bp/profiling.json
sols/Et_2.bp/data.0
sols/Et_2.bp/md.0
sols/Et_2.bp/md.idx
sols/Et_2.bp/mmd.0
sols/Et_2.bp/profiling.json
sols/Ez_0.bp/data.0
sols/Ez_0.bp/md.0
sols/Ez_0.bp/md.idx
sols/Ez_0.bp/mmd.0
sols/Ez_0.bp/profiling.json
sols/Ez_1.bp/data.0
sols/Ez_1.bp/md.0
sols/Ez_1.bp/md.idx
sols/Ez_1.bp/mmd.0
sols/Ez_1.bp/profiling.json
sols/Ez_2.bp/data.0
sols/Ez_2.bp/md.0
sols/Ez_2.bp/md.idx
sols/Ez_2.bp/mmd.0
sols/Ez_2.bp/profiling.json
__pycache__/gmsh.cpython-313.pyc
sols/Et_3.bp/data.0
sols/Et_3.bp/md.0
sols/Et_3.bp/md.idx
sols/Et_3.bp/mmd.0
sols/Et_3.bp/profiling.json
sols/Ez_3.bp/data.0
sols/Ez_3.bp/md.0
sols/Ez_3.bp/md.idx
sols/Ez_3.bp/mmd.0
sols/Ez_3.bp/profiling.json
